<!DOCTYPE html>
<html>
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet">
    <link rel='stylesheet' href='/stylesheets/style.css' />
  <title><%= title %></title>

  </head>
  <body>
    <script>
    $( document ).ready(function() {
      $("#submit").click(function() {
        $.ajax({
          type: "POST",
          url: 'shorten',
          data: {payload: $('#field').val() },
        }).done(function(data) {
          if(data == 'Invalid URL') {
            //BAD REQUEST
          }
          else {
            //GOOD REQUEST
          }
        });
      });
    });
    </script>
    <h1><%= title %></h1>
    <input type="text" placeholder="Linkz" id="field">
    <button class="btn btn-large btn-primary" id="submit">Play that Jazz!</button>
    <!--<form method="POST" action="/shorten" class="form">
      <input type="text" name="payload" placeholder="Links and stuff">
      <input type="submit"> -->
    </form>
  </body>
</html>
