<!DOCTYPE html>
<html>
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link href='http://fonts.googleapis.com/css?family=Sacramento' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Sanchez' rel='stylesheet' type='text/css'>
  <title><%= title %></title>

  </head>
  <body>
    <script>
      $( document ).ready(function() {
        $("#success").hide();
        $("#failure").hide();
        $("#emptyField").hide();
        $("#lander").hide();
        $("#lander").fadeIn(900);

        $("#field").keypress(function(x) {
          var key = x.which;
          if(key == 13) {
            $("#submit").click();
            return false;
          }
        })

        $("#submit").click(function() {
          if($("#field").val() == "") {
            //SUBMITTED EMPTY STRING
            $("#failure").hide();
            $("#emptyField").fadeIn();
          }
          else {
            $.ajax({
              type: "POST",
              url: 'shorten',
              data: { payload: $('#field').val() },
            }).done(function(data) {
              if(data.error) {
                //BAD URL
                if(data.error == 'rateLimit') {
                  $("#error").text('Slow down, man! I can\'t play that fast!');
                }
                else if(data.error == 'serverError') {
                  $("#error").text('Something\'s wrong with my sax. Try giving me some notes again.');
                }
                $("#emptyField").hide();
                $("#failure").fadeIn();
              }
              else {
                //GOOD URL
                var response = JSON.parse(data);
                $("#failure").hide();
                $("#emptyField").hide();
                $("#createShortlink").hide();
                $("#outputField").val('http://' + window.location.host + '/' + response.identifier);
                $("#success").fadeIn();
                $("#outputField").on("click", function () {
                  $(this).select();
                });
              }
            });
          }
        });
      });
    </script>
    <div id="lander">
      <h1 id="header"><a href="/"><%= title %></a></h1>
      <h3 id="tagline">Maestro of <a href="https://www.youtube.com/watch?v=fvRkGglLe-U" target="_blank" style="color: #5848B0;">jazzy</a> shortened URLs<h4>
      <div id="createShortlink">
        <input type="text" placeholder="Gimme some notes to play, man!" id="field">
        <button class="btn btn-large btn-primary" id="submit">Play that Jazz!</button>
      </div>
    </div>

    <div id="success">
      <input type="text" id="outputField">
      <h2 id="successFlash">Smooth notes, brother. Here's your shortened link.<h2>
    </div>

    <div id="failure">
      <h2 id="error">Aww come on man. Looks like you gave me a bad URL to play.</h2>
    </div>

    <div id="emptyField">
      <h2>You didn't give me any notes to play.</h2>
    </div>
  </body>
</html>
